<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Games</title>
  
  <link rel="icon" href="logo.png">

  <link href="\esportshub\src\main\resources\static\css\bootstrap.css" rel="stylesheet">

</head>

<body>

    
  <div class="jumbotron-a text-center" style="background-color:white;">
    <img src="games.png" style="width: 100px;height:100px;">
    <p></p>
  </div>

  <ul class="nav" >
    <li><a href="Home.html">Home</a></li>
    <li><a href="Teams.html">Teams</a></li>
    <li><a href="Players.html">Players</a></li>
    <li><a href="Tournaments.html">Tournaments</a></li>
  </ul>
  
  <div class="content">


    //PUT METHODS FOR CONTENT HERE

  </div>

  <div class="jumbotron-f text-center" style="background-color:#77dd77;position: absolute;bottom: 0;width: 100%;height: 2.5rem;">
    <p>The Esports Hub. Stonehill DBMS Project by Bobby, Derek, and Jimmy.</p>
  </div>


  
</body>
</html>