<!doctype html>

<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">

  <title>Players</title>
  <link rel="icon" href="logo.png">

  <link href="\css\bootstrap.css" rel="stylesheet">

</head>

<body>

    
  <div class="jumbotron-a text-center" style="background-color:white;">
    <img src="players.png" style="width: 100px;height:100px;">
    <p></p>
  </div>

  <ul class="nav" >
    <li><a th:href="@{/home}">Home</a></li>
    <li><a th:href="@{/games}">Games</a></li>
    <li><a th:href="@{/teams}">Teams</a></li>
    <li><a th:href="@{/tournaments}">Tournaments</a></li>
    <li><a th:href="@{/login}">Log Out</a></li>
    <form action="#" th:action="@{/players}" method="POST">
      <input type="text" placeholder="Search for player name.." th:value="${gamertag}" name="gamertag">
      <button type="submit" value="Submit" class="btn btn-success">Search</button>
    </form>
  </ul>
  
  <div class="content">


    <table>
      <tr>
        <th>Gamertag</th>
        <th>Name</th>
        <th>County</th>
        <th>Age</th>
        <th>Years Pro</th>
        <th>Tournament Wins</th>
      </tr>
      <tr th:each="player : ${players}">
        <td th:text="${player.gamertag}"></td>
        <td th:text="${player.fname + ' ' + player.lname}"></td>
        <td th:text="${player.country}"></td>
        <td th:text="${player.age}"></td>
        <td th:text="${player.years_pro}"></td>
        <td th:text="${player.tournament_wins}"></td>
      </tr>
    </table>

  </div>

  <div class="jumbotron-f text-center" style="background-color:#77dd77;position: absolute;bottom: 0;width: 100%;height: 2.5rem;">
    <p>The Esports Hub. Stonehill DBMS Project by Bobby, Derek, and Jimmy.</p>
  </div>


  
</body>
</html>