<!doctype html>

<html  xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Player Detail</title>
  <link rel="icon" href="logo.png"/>
  <link href="\css\bootstrap.css" rel="stylesheet"/>
</head>

<body>
    
  <div class="jumbotron-a text-center" style="background-color:white;">
    <img src="players.png" style="width: 100px;height:100px;">
    <p></p>
  </div>

  <ul class="nav" >
    <li><a th:href="@{/home}">Home</a></li>
    <li><a th:href="@{/teams}">Teams</a></li>
    <li><a th:href="@{/players}">Players</a></li>
    <li><a th:href="@{/tournaments}">Tournaments</a></li>
    <li><a th:href="@{/games}">Games</a></li>
    <li><a th:href="@{/login}">Log Out</a></li>
  </ul>
  
  <div class="content">

    <h1 th:text="${player.gamertag}"></h1>
    <p th:text="'Name: ' + ${player.fname} + ' ' + ${player.lname}"></p>
    <p th:text="'County: ' + ${player.country}"></p>
    <p th:text="'Age: ' + ${player.age}"></p>
    <p th:text="'Years Pro: ' + ${player.years_pro}"></p>
    <p th:text="'Tournament Wins: ' + ${player.tournament_wins}"></p>
    </br>
    <h1>Team</h1>
    <table class="contenttp">
      <tr>
        <th>Name</th>
        <th>County</th>
        <th>Years Pro</th>
        <th>Money Won</th>
      </tr>
      <tr>
        <td th:text="${team.name}"></td>
        <td th:text="${team.country}"></td>
        <td th:text="${team.years_pro}"></td>
        <td th:text="'$' + ${team.money_won}"></td>
      </tr>
    </table>
    <h1>Game</h1>
    <table class="contenttp">
      <tr>
        <th>Name</th>
        <th>Years Played</th>
      </tr>
      <tr>
        <td th:text="${game.name}"></td>
        <td th:text="${game.years_played}"></td>
      </tr>
    </table>

  </div>

  


  
</body>

<div class="jumbotron-f text-center" style="background-color:#77dd77;position: relative;bottom: 0;width: 100%">
  <p>The Esports Hub. Stonehill DBMS Project by Bobby, Derek, and Jimmy.</p>
</div>

</html>