<!doctype html>

<html xmlns:th="https://www.thymeleaf.org" lang="en"></html>
<head>
  <meta charset="utf-8">

  <title>Tournament Details</title>
  <link rel="icon" href="logo.png">

  <link href="\css\bootstrap.css" rel="stylesheet">

</head>

<body>

    
  <div class="jumbotron-a text-center" style="background-color:white;">
    <img src="tournaments.png" style="width: 100px;height:100px;">
    <p></p>
  </div>

  <ul class="nav" >
    <li><a th:href="@{/home}">Home</a></li>
    <li><a th:href="@{/teams}">Teams</a></li>
    <li><a th:href="@{/players}">Players</a></li>
    <li><a th:href="@{/tournaments}">Tournaments</a></li>
    <li><a th:href="@{/games}">Games</a></li>
    <li><a th:href="@{/login}">Log Out</a></li>
  </ul>
  
  <div class="content">

    <h2 th:text="${tournament.tournament_id}"></h2>
    <p th:text="'Date: ' + ${tournament.day}"></p>
    <h1>Game</h1>
    <table class="contentt">
      <tr>
        <th>Name</th>
        <th>Years Played</th>
      </tr>
      <tr>
        <td th:text="${game.name}"></td>
        <td th:text="${game.years_played}"></td>
      </tr>
    </table>
    <h1>Team</h1>
    <table class="contentt">
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Years Pro</th>
        <th>Money Won (Total)</th>
      </tr>
      <tr>
        <td th:text="${team.name}"></td>
        <td th:text="${team.country}"></td>
        <td th:text="${team.years_pro}"></td>
        <td th:text="'$' + ${team.money_won}"></td>
      </tr>
    </table>

  </div>

  <div class="jumbotron-f text-center" style="background-color:#77dd77;position: absolute;bottom: 0;width: 100%;height: 2.5rem;">
    <p>The Esports Hub. Stonehill DBMS Project by Bobby, Derek, and Jimmy.</p>
  </div>


  
</body>
</html>